@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;600;700;900&display=swap');

/* Main Colors
#A0CD53
#25283D
*/

/* Accent Colors
#DC602E ORANGE
#37AE49 GREEN
#188EB9 BLUE
#9046CF PURPLE
#E05263 PINK/RED */


/* AUTH SCREENS */

.login-input-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.auth-bg {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F8F8F8;
}

.auth-title {
  font-weight: 900;
  font-size: 2.3rem;
  margin: 0px auto 40px auto;
}

.login-logo {
  margin-bottom: 40px;
}

.auth-button {
  width: 100%;
  background-color: #0F9FD3;
  color: white;
  border-radius: 4px;
  border: none;
  font-size: 1.1rem;
  padding: 7px;
  width: 70%;
  margin: 0px auto 0px auto;
  font-weight: 600;
  cursor: pointer;
}

.auth-card {
  width: 500px;
  padding: 65px;
  box-sizing: border-box;
  border-radius: 7px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
}

.register-link {
  font-size: 0.9rem;
  color: #0F9FD3;
  transform: translate(0px, 95px);
  margin: -.9rem auto 0px auto;
  cursor: pointer;
  text-decoration: none;
}

/* CHALLENGES */

.edit-button {
  color: #484848;
  background-color: #E5D82A;
  height: 45px;
  width: 45px;
  border: none;
  border-radius: 50%;
  position: absolute;
  transition: .1s;
  transform: translate(200%, 100%);
}

.edit-button:hover {
  background-color: hsl(56, 78%, 46%);
  cursor: pointer;
}

.card:hover .edit-button {
  height: 60px;
  width: 60px;
  transition: .3s;
}

.card-description {
  user-select: none;
  pointer-events: none;
  display: none;
  transform: translateX(170px);
  font-size: 1.2rem;
  font-weight: 500;
}

.card-description p {
  background-color: #414141;
  width: max-content;
  padding: 3px 8px 3px 8px;
  margin: 10px 0px 10px 0px;
  border-radius: 2px;
  color: #FFF;
}

.card {
  width: 120px;
  height: 120px;
  background-color: #FFF;
  border: 2px solid #e5e5e5;
  margin: 20px;
  border-radius: 20px;
  box-shadow: #e5e5e5 -1.95px 1.95px 2.6px;
  transition: .1s;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.card:hover {
  width: 160px;
  height: 160px;
  border-radius: 25px;
  transition: .3s;
  margin: 0px;
  transform: rotate(-3deg);
}

.card:hover .card-description {
  transition: .3s;
  display: block;
  position: absolute;
  font-weight: 700;
  z-index: 2;
}

/* FORMS */

.form-container {
  width: 900px;
  margin: 20px auto 0px auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.form-title {
  margin: 0px 0px 70px 0px;
  font-weight: 700;
  font-size: 1.6rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-group-50 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.input-row {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.input-link {
  color: #0F9FD3;
  cursor: pointer;
  margin: 5px auto 0px auto;
}

.input-link:hover {
  color: #0c81ac;
}

.input-field {
  width: 100%;
  border: 2px #e5e5e5 solid;
  background-color: white;
  border-radius: 5px;
  height: 2.3rem;
  padding: 0px 8px 0px 8px;
  box-sizing: border-box;
  min-width: 250px;
  font-size: 1rem;
  margin-top: 3px;
}

.input-description {
  color: hsl(0, 0%, 50%);
  margin: 3px 0px 0px 5px;
  font-size: 0.9rem;
  user-select: none;
}

.textarea {
  padding: 8px;
  max-width: 100%;
  min-width: 100%;
  min-height: 5rem;
  max-height: 7rem;
}

.input-field:focus {
  outline: none;
}


/* GENERAL UTILITIES */

.round-card {
  display: flex;
  border-radius: 25px;
  background-color: white;
  width: 30%;
  align-items: center;
  box-shadow: #e5e5e5 -4px 4px 0px;
  padding: 15px 25px 15px 25px;
}

.section-title {
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 10px;
  display: inline-block;
}

.filled-container {
  background-color: #F0F0F0;
  border-radius: 15px;
  padding: 30px;
  box-sizing: border-box;
}

.outlined-container {
  border: 3px #F0F0F0 solid;
  border-radius: 15px;
  padding: 30px;
  box-sizing: border-box;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.box-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-title {
  font-weight: 700;
  font-size: 1.1rem;
}

.card-value {
  color: white;
  font-weight: 700;
  font-size: 1rem;
  padding: 2px 10px 2px 10px;
  border-radius: 5px;
  margin: 0px 0px 0px auto;
  min-width: 25px;
  text-align: center;
}

.row {
  display: flex;
  gap: 25px;
  width: 100%;
  flex-direction: row;
}

.button-flat {
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  padding: 7px 12px 7px 12px;
  font-weight: 500;
  cursor: pointer;
  min-width: 200px;
  font-weight: 600;
}

.button-rounded {
  border-radius: 12px;
  border: none;
  font-size: 1rem;
  padding: 7px 12px 7px 12px;
  font-weight: 500;
  cursor: pointer;
  min-width: 200px;
  font-weight: 600;
}

.chip-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px;
  width: auto;
}

.chip {
  display: flex;
  align-items: center;
  text-align: center;
  height: 30px;
  border-radius: 15px;
  padding: 2px;
  box-sizing: border-box;
  cursor: default;
  font-weight: 600;
}

.chip span {
  margin: auto 15px auto 7px;
}

.chip-button {
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.1rem;
  cursor: pointer;  
}

.add-button {
  color: #B1B1B1;
  background: none;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
}

.border-thin {
  border: 1px solid #8a8a8a;
}

.add-button span{
  margin-left: 10px;
}

.text-white {
  color: white;
}

.text-dark {
  color: #414141;
}

.centered {
  justify-content: center;
}

.push-right {
  justify-content: end;
}

.yellow {
  background-color: #E5D82A;
}

.yellow:hover {
  background-color: hsl(56, 78%, 48%);
}

.blue {
 background-color: #0F9FD3;
}

.blue:hover {
  background-color: hsl(196, 87%, 39%);
 }

.white {
  background-color: white;
}

.white:hover {
  background-color: hsl(0, 0%, 95%);
}

.green {
  background-color: #7DD30F;
}

.green:hover {
  background-color: hsl(86, 87%, 39%);
}

.red {
 background-color: #D6000D;
}

.red:hover {
  background-color: hsl(356, 100%, 37%);
 }

.purple {
  background-color: #9006B3;
}

.purple:hover {
  background-color: hsl(288, 94%, 41%);
}

.gray {
  background-color: #B1B1B1;
}

.gray:hover {
  background-color: hsl(0, 0%, 64%);
}

.orange {
  background-color: #D68D00;
}

.orange:hover {
  background-color: hsl(40, 100%, 37%);
}

.dark {
  background-color: #414141;
}

.dark:hover {
  background-color: hsl(0, 0%, 30%);
}

.lightgray {
  background-color: #dfdfdf;
}

.lightgray:hover {
  background-color: hsl(0, 0%, 82%);
}

/* UNSORTED */

.app {
  width: 100%;
  font-family: 'M PLUS Rounded 1c';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #414141;
}

.align-center {
  align-items: center;
}


.app-header {
  width: 100%;
  height: 70px;
  background-color: #FFF;
  border-bottom: 2px solid #e5e5e5;
  position: fixed;
  top: 0;
  z-index: 5;
}

.header-content {
  text-align: center;
  display: flex;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.nav-link {
  text-decoration: none;
  font-size: 19px;
  user-select: none;
  font-weight: 700;
  color: #929292;
  cursor: pointer;
  margin-right: 35px;
}

.nav-link:hover {
  color: #414141;
  transition: .2s;
}

.nav-link-active {
  text-decoration: none;
  font-size: 19px;
  font-weight: 700;
  color: #929292;
  user-select: none;
  margin-right: 35px;
  color: #A0CD53;
}

.nav-profile {
  height: 40px;
  border-radius: 50%;
  width: 40px;
  margin-left: auto;
  margin-top: 12px;
  border: solid 3px #414141;
  cursor: pointer;
}

.content {
  width: 100%;
  padding-top: 130px;
  margin-bottom: 90px;
}

.content-description {
  text-align: center;
  margin-bottom: 30px;
}

.text-title {
  font-size: 30px;
  font-weight: 700;
  margin: 10px 0px 10px 0px;
}

.text-secondary {
  font-size: 19px;
  font-weight: 400;
  margin: 5px 0px 5px 0px;
}

.challenge-container {
  width: 900px;
  margin: 50px auto 0px auto;
}

.job-container {
  width: 900px;
  margin: 20px auto 0px auto;
}

.job-card {
  width: 100%;
  height: 150px;
  border-radius: 20px;
  background-color: #FFF;
  box-shadow: #e5e5e5 -1.95px 1.95px 2.6px;
  border: 2px solid #e5e5e5;
  border-left: 7px solid;
  transition: .1s;
  cursor: pointer;
}

.job-card:hover {
  transition: .2s;
  transform: rotate(-.5deg);
}

.job-title {
  box-sizing: border-box;
  margin: 10px 0px 10px 0px;
  padding-left: 20px;
  font-size: 17px;
  font-weight: 700;
  width: 100%;
}

.job-info {
  padding-left: 20px;
  display: flex;
}

.job-info p {
  margin: 0px;
}

.job-info-name {
  padding-left: 20px;
  font-size: 19px;
  font-weight: 700;
}

.job-info-value {
  padding-left: 20px;
  font-size: 14px;
}

.job-info-extra {
  align-items: center;
  margin-left: 20px;
  font-size: 16px;
  padding-top: 10px;
  display: flex;
}

.profile-info {
  box-sizing: border-box;
  width: 1000px;
  border-radius: 20px;
  background-color: #FFF;
  box-shadow: #e5e5e5 -1.95px 1.95px 2.6px;
  border: 2px solid #e5e5e5;
  margin: 0px auto 20px auto;
  padding: 25px;
  display: flex;
}

.profile-info p {
  margin: 0px;
}

.profile-section {
  box-sizing: border-box;
  width: 1000px;
  background-color: #FFF;
  margin: 0px auto 20px auto;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
}

.profile-info-name {
  padding-left: 20px;
  font-size: 25px;
  font-weight: 700;
}

.profile-info-position {
  padding-left: 20px;
  font-size: 20px;
}

.profile-info-extra {
  align-items: center;
  margin-left: 20px;
  font-size: 14px;
  padding-top: 10px;
  display: flex;
  font-weight: 700;
}

.profile-info-extra p {
  margin-right: 10px;
}

.icon-margin-right {
  margin-right: 10px;
}

.profile-picture {
  border-radius: 75px;
  border: 5px solid;
  height: 110px;
  width: 110px;
}

.skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.profile-skill {
  width: 33%;
  display: flex;
  margin-top: 15px;
  font-size: 1em;
}

.profile-call-to-action {
  display: flex;
  justify-content: center;
}

.profile-apply-button {
  height: 45px;
  width: 220px;
  border: none;
  border-radius: 10px;
  box-shadow: #e5e5e5 -1.95px 1.95px 2.6px;
  background-color: #0f9fd3;
  color: #FFF;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.profile-apply-button:hover {
  background-color: hsl(196, 87%, 41%);
}


.profile-apply-button p {
  margin: 0;
}

.company-logo {
  border-radius: 10px;
  border: 2px solid #e5e5e5;
  height: 90px;
  width: 90px;
}

.group-title {
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
  display: inline-block;
}

.card-group {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

.form-card {
  background-color: #FFF;
  border: 2px solid #e5e5e5;
  box-shadow: #e5e5e5 -1.95px 1.95px 2.6px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
}

.card-image {
  transition: .1s;
  margin: 0px auto 0px auto;
  height: 40%;
  width: 40%;
}

.app-logo {
  margin: 15px;
  height: 35px;
}

.footer {
  height: 250px;
  background-color: #25283D;
  width: 100%;
  margin-top: auto;
}